body {
    background-color: #404040;
    margin: 15px;
}

h2 {
    color: burlywood;
}

a {
    color: #000
}

.container {
    max-width: 700px;
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-about {
    color: burlywood;
}

.profile a {
    color: burlywood;
}

.profile .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 20%;
    border-radius: 50%;
    box-shadow: 0 0 5px -1px #ffffff;
    margin-right: 30px;
}

.project {
    background-color: burlywood;
    padding: 15px;
    border-radius: 5px;
}

.project h3 {
    margin-top: 0;
}